/*#content {
    padding: 10px;
    text-align: center;
    color: white;
}

#content_info {
    font-size: 20px;
    height: 1200px;
    line-height: 1;
}

#content_register {
    margin-top: 50px;
    height: 30px;
}


#content_login {
    line-height: 2;
    height: 100px;
}


.required {
    color: red;
}


input {
    height: 25px;
    width: 200px;
    font-size: 16px;
}

.button1 {
    height: 25px;
    width: 200px;
    font-size: 16px;
}


#footer {
    color: white;
    text-align: center;
}

#header {
    margin-top: 60px;
    color: white;
    padding: 10px;
    font-size: 30px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
#container {
    /*width: 2200px;*/
    background-color: #1a53ff;
}*/